<section class="banners">
  <div class="container">
    <p>Баннеры</p>
  </div>
</section>

<section class="services" id="services">
  <div class="container">
    <p>Услуги</p>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <p>О нас</p>
  </div>
</section>

<section class="popular-articles">
  <div class="container">
    <p>Популярные статьи</p>
  </div>
</section>

<section class="reviews" id="reviews">
  <div class="container">
    <p>Отзывы</p>
  </div>
</section>

<section class="contacts" id="contacts">
  <div class="container">
    <p>Контакты</p>
  </div>
</section>

