<section class="banners">
  <div class="container">
    <p>Баннеры</p>
  </div>
</section>

<section class="services">
  <div class="container">
    <p>Услуги</p>
  </div>
</section>

<section class="about">
  <div class="container">
    <p>О нас</p>
  </div>
</section>

<section class="popular-articles">
  <div class="container">
    <p>Популярные стати</p>
  </div>
</section>

<section class="reviews">
  <div class="container">
    <p>Отзывы</p>
  </div>
</section>

<section class="contacts">
  <div class="container">
    <p>Контакты</p>
  </div>
</section>

