<div class="blog">
  <div class="container">
    <div class="blog-title">Блог</div>
    <div class="blog-head">
      <div class="blog-applied-filters">
        <div class="blog-applied-filter" *ngFor="let filter of categoriesFilterList">
          <span>{{ filter.name }}</span>
          <a (click)="applyFilter(filter.id)">
            <mat-icon svgIcon="close" class="icon-close"></mat-icon>
          </a>
        </div>
      </div>
      <div class="blog-filters" [class.open]="filterOpened">
        <div class="blog-filters-head" (click)="toggleFilter()">
          <span>Фильтр</span>
          <div>
            <div [ngStyle]="filterOpened ? {visibility: 'hidden', position: 'absolute'} : {}">
              <mat-icon svgIcon="arrow-down" class="icon-arrow"></mat-icon>
            </div>
            <div *ngIf="filterOpened">
              <mat-icon svgIcon="arrow-up" class="icon-arrow"></mat-icon>
            </div>
          </div>
        </div>
        <div class="blog-filters-body">
          <a class="blog-filters-item"
             [class.active]=category.filterOn
             (click)="applyFilter(category.id)"
             *ngFor="let category of categories">
            <div class="blog-filters-item-name">{{ category.name }}</div>
            <div class="blog-filters-item-sign">{{ category.filterOn ? '-' : '+' }}</div>
          </a>
        </div>
      </div>
    </div>
    <div class="blog-content">
      <article-card *ngFor="let article of articles" [article]="article"></article-card>
    </div>
    <div class="blog-pagination" *ngIf="pages && pages.length > 1">
      <div class="blog-pagination-arrow">
        <a (click)="pages.length > 5 ? openPage(1) : openPrevPage()"
           [title]="pages.length > 5 ? '1' : ''"
           [class.disabled]="activeParams.page ? activeParams.page === 1 : true">
          <ng-container *ngIf="activeParams.page ? activeParams.page === 1 : false">
            <mat-icon class="arrow" svgIcon="arrow-left-gray"></mat-icon>
            <mat-icon class="arrow" svgIcon="arrow-left-gray" *ngIf="pages.length > 5"></mat-icon>
          </ng-container>
          <ng-container *ngIf="activeParams.page ? activeParams.page !== 1 : false">
            <mat-icon class="arrow" svgIcon="arrow-left-blue"></mat-icon>
            <mat-icon class="arrow" svgIcon="arrow-left-blue" *ngIf="pages.length > 5"></mat-icon>
          </ng-container>
        </a>
      </div>
      <div class="blog-pagination-pages">
        <a (click)="openPage(activeParams.page === pages.length ? activeParams.page - 3 : activeParams.page - 2)"
           [attr.aria-description]="activeParams.page === pages.length ? activeParams.page - 3 : activeParams.page - 2"
           *ngIf="pages.length > 5 && activeParams.page && activeParams.page > 2" style="cursor: pointer">
          ...
        </a>
        <ng-container *ngFor="let page of pages">
          <a class="blog-pagination-page"
             *ngIf="pages.length <= 5 || (activeParams.page && activeParams.page < page + 2) &&
             (activeParams.page && activeParams.page > page - 2) ||
             (activeParams.page === page + 2 && page === pages.length - 2)||
             (activeParams.page === 1 && page === 3)"
             [class.active]="activeParams.page ? activeParams.page === page : page === 1"
             (click)="openPage(page)">
            {{ page }}
          </a>
        </ng-container>
        <a (click)="openPage(activeParams.page === 1 ? activeParams.page + 3 : activeParams.page + 2)"
           [attr.aria-description]="activeParams.page === 1 ? activeParams.page + 3 : activeParams.page + 2"
           *ngIf="pages.length > 5 && activeParams.page && activeParams.page < pages.length - 1" style="cursor: pointer">
          ...
        </a>
      </div>
      <div class="blog-pagination-arrow">
        <a (click)="pages.length > 5 ? openPage(pages.length) : openNextPage()"
           [title]="pages.length > 5 ? pages.length : ''"
           [class.disabled]="activeParams.page ? activeParams.page === pages.length : false">
          <ng-container *ngIf="activeParams.page ? activeParams.page !== pages.length : true">
            <mat-icon class="arrow" svgIcon="arrow-right-blue"></mat-icon>
            <mat-icon class="arrow" svgIcon="arrow-right-blue" *ngIf="pages.length > 5"></mat-icon>
          </ng-container>
          <ng-container *ngIf="activeParams.page ? activeParams.page === pages.length : true">
            <mat-icon class="arrow" svgIcon="arrow-right-gray"></mat-icon>
            <mat-icon class="arrow" svgIcon="arrow-right-gray" *ngIf="pages.length > 5"></mat-icon>
          </ng-container>
        </a>
      </div>
    </div>
  </div>
</div>
