@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/variables";

.blog {
  margin-top: 80px;
  margin-bottom: 120px;

  .container {

    .blog-title {
      font-family: Lora, sans-serif;
      font-weight: 400;
      font-size: 38px;
      color: $blue-text-color;

    }

    .blog-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      .blog-applied-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .blog-applied-filter {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          font-size: 16px;
          color: $blue-text-color;
          padding: 7px 20px;
          border: 2px solid #709FDC;
          border-radius: 5px;

          a {
            display: flex;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }

      .blog-filters {
        position: relative;


        &.open {
          min-width: 257px;
          width: 257px;
          box-sizing: border-box;

          .blog-filters-head {
            border-color: #B9D5FD;
            background: #B9D5FD;
            padding: 12px 23px;
            justify-content: space-between;
          }

          .blog-filters-body {
            display: flex;
          }
        }

        .blog-filters-head {
          border: 2px solid transparent;
          border-radius: 5px 5px 0 0;
          display: flex;
          align-items: center;
          gap: 70px;
          cursor: pointer;
          padding: 12px 0;
          color: $gray-text-color;
          box-sizing: border-box;


        }
        &-body {
          width: 100%;
          position: absolute;
          top: 44px;
          z-index: 4;
          background-color: #FFFFFF;
          border: 2px solid #B9D5FD;
          border-radius: 0 0 5px 5px;
          padding: 7px 0;
          box-sizing: border-box;
          display: none;
          flex-direction: column;
          gap: 4px;

          .blog-filters-item {
            padding: 5px 23px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #BEBEBE;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              background-color:  rgba(0, 0, 0, .04);
            }

            &.active {
              color: $gray-text-color;
            }

            &-name {
              font-size: 16px;
            }

            &-sign {
              font-size: 24px;
            }

          }
        }
      }
    }

    .blog-content {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 40px;
      column-gap: 24px;
    }

    .blog-pagination {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .blog-pagination-arrow {

        a {
          display: flex;
          text-decoration: none;
          cursor: pointer;

          .arrow {
            height: 19px;
            width: 10px;
          }

          &.disabled {
            cursor: default;
          }
        }

      }

      .blog-pagination-pages {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .blog-pagination-page {
          text-decoration: none;
          cursor: pointer;

          &.active {
            color: $blue-text-color;
            cursor: default;
          }
        }
      }
    }
  }
}
