@import "../../../../assets/styles/fonts";

.policy-content {
  line-height: 1.3;
  ol {
    padding-left: 20px;
    counter-reset: item;

    li {
      display: block;

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
      }
    }
  }
}

.policy-actions {
  display: flex;
  gap: 16px;
}
