<div class="common-dialog">
  <div class="common-dialog-actions">
    <button class="dialog-close-button" aria-label="Закрыть" mat-dialog-close>
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.935622" y1="0.649902" x2="12.9564" y2="12.6707" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="12.9236" y1="0.629714" x2="0.902769" y2="12.6505" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </button>
  </div>
  <div class="common-dialog-wrapper">
    <div *ngIf="data.type === 'order' || data.type === 'consultation'">
      <div class="common-dialog-title">{{ data.title }}</div>
      <div class="common-dialog-inputs inputs">
        <div class="input" *ngIf="data.type === 'order'">
          <select name="service" [(ngModel)]="formValues.service" [value]="data.service">
            <option value="Создание сайтов">Создание сайтов</option>
            <option value="Продвижение">Продвижение</option>
            <option value="Реклама">Реклама</option>
            <option value="Копирайтинг">Копирайтинг</option>
          </select>
        </div>
        <div class="input">
          <input type="text" name="name" #name=ngModel [(ngModel)]="formValues.name" required placeholder="Ваше имя"
                 [ngStyle]="{'border-color': name.invalid && (name.touched || name.dirty) ? 'red' : ''}">
        </div>
        <div class="input">
          <input type="text" name="phone" #phone="ngModel" [(ngModel)]="formValues.phone" required
                 placeholder="Ваш номер телефона" prefix="+7 " mask="(000) 000-0000"
                 [ngStyle]="{'border-color': phone.invalid && (phone.touched || phone.dirty) ? 'red' : ''}">
        </div>
      </div>
      <div class="common-dialog-buttons" *ngIf="data.type === 'order' || data.type === 'consultation'">
        <button class="button button-big" [disabled]="name.invalid || phone.invalid"
                (click)="sendRequest()">{{ data.btnText }}
        </button>
      </div>
      <div class="common-dialog-error" *ngIf="requestError">
        Произошла ошибка при отправке формы, попробуйте еще раз.
      </div>
    </div>
    <!--  Done dialog  -->
    <div *ngIf="data.type === 'done'">
      <div class="common-dialog-title done">
        Спасибо за вашу заявку!
      </div>
      <div class="common-dialog-text">
        Мы свяжемся с вами при первой же возможности.
      </div>
      <div class="common-dialog-buttons">
        <button class="button button-small" mat-dialog-close>Окей</button>
      </div>
    </div>
  </div>
</div>



