@import "../../../../assets/styles/variables";

.common-dialog {

  .common-dialog-actions {

    display: flex;
    justify-content: flex-end;

    .dialog-close-button {
      border: none;
      background: transparent;
      margin: 8px 8px 0 0;
      padding: 0;
      cursor: pointer;
    }
  }


  .common-dialog-wrapper {

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .common-dialog-title {
      margin-top: 45px;
      font-family: Lora, sans-serif;
      font-weight: 400;
      font-size: 38px;
      line-height: 1.3;
      color: $blue-text-color;
      margin-bottom: 20px;
      text-align: center;

      &.done {
        margin-top: 114px;
      }
    }

    .common-dialog-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      text-align: center;
      color: #1E1A2B;
      margin-bottom: 40px;

    }

    .common-dialog-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin-bottom: 20px;
    }

    .common-dialog-buttons {
      display: flex;
      justify-content: center;
      .button-big {
        width: 422px;
      }
    }

    .common-dialog-error {
      margin-top: 20px;
      max-width: 422px;
      color: red;
      font-size: 12px;
      text-align: center;
    }
  }
}

//000 - 529
@media screen and (max-width: 529px) {
  .common-dialog {
    .common-dialog-wrapper {

      .common-dialog-title {
        font-size: 24px;
      }

      .common-dialog-inputs {
        width: 100%;
        .input {
          width: calc(100% - 30px);
        }
      }

      .common-dialog-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        .button-big {
          width: calc(100% - 30px);
          padding: 15px;
          font-size: 14px;
        }
      }
    }
  }
}

