<div class="password-input">
  <input type="password" name="pass" #passwordInput #pass=ngModel required [pattern]="singUp ? passPattern : '' "
         (input)="onInput()" [(ngModel)]="password" placeholder="Пароль"
         [ngStyle]="{'border-color': pass.invalid && (pass.dirty || pass.touched) ? 'red': ''}">
  <mat-icon *ngIf="showPassword" (click)="toggleShow()" class="password-input-eye" svgIcon="eye" aria-hidden="false"
            aria-label="eye SVG icon"></mat-icon>
  <mat-icon *ngIf="!showPassword" (click)="toggleShow()" class="password-input-eye" svgIcon="eye-off"
            aria-hidden="false" aria-label="eye off SVG icon"></mat-icon>
  <div class="password-input-error" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
    <span *ngIf="pass.errors?.['pattern']">
      Минимальная длина 8 символов.
      <br>
      Допустимы латинские буквы, цифры.
      <br>
      Как минимум 1 цифра и 1 буква в ВЕРХНЕМ регистре.
    </span>
    <span *ngIf="pass.errors?.['required'] && !singUp">Введите пароль</span>
    <span *ngIf="pass.errors?.['required'] && singUp">Заполните поле</span>
  </div>
</div>
