<div class="password-input">
  <input type="password" name="pass" #passwordInput #pass=ngModel required
         (blur)="toggleShow(true)" (input)="onInput()"
         [(ngModel)]="password" placeholder="Пароль"
         [ngStyle]="{'border-color': pass.invalid && (pass.dirty || pass.touched) ? 'red': ''}">
  <mat-icon *ngIf="showPassword" (click)="toggleShow()" class="password-input-eye" svgIcon="eye" aria-hidden="false"
            aria-label="eye SVG icon"></mat-icon>
  <mat-icon *ngIf="!showPassword" (click)="toggleShow()" class="password-input-eye" svgIcon="eye-off"
            aria-hidden="false" aria-label="eye off SVG icon"></mat-icon>
  <div class="password-input-error" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
    Введите пароль
  </div>
</div>
