.password-input {
  position: relative;

  .password-input-error {
    color: red;
    font-size: 14px;
    margin-left: 18px;
    margin-top: 5px;
    max-width: 422px;
  }

  .password-input-eye {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 16px;
    cursor: pointer;
  }

}
