<div class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-form-title">Войти в личный кабинет</div>

      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text"
                 [ngStyle]="{'border-color': loginForm.get('email')?.invalid
                 && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) ? 'red': ''}"
                 placeholder="Электронная почта" formControlName="email">
          <div class="auth-input-error"
               *ngIf="loginForm.get('email')?.invalid
               && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            Введите корректный адрес электронной почты
          </div>
        </div>
        <div class="auth-input">
          <password-input (password_value)="setPass($event)"></password-input>
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember" formControlName="rememberMe">
          <label for="remember">Запомнить меня</label>
        </div>
      </div>
      <div class="auth-buttons">
        <button class="button button-big" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта? <a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>

    <div class="page-image">
      <img src="/assets/images/page/login-image.png" alt="Login page image">
    </div>

  </div>
</div>
