<div class="signup">
  <div class="container">

    <div class="auth-form">
      <div class="auth-form-title">Регистрация на сайте</div>

      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" placeholder="Ваше имя">
        </div>
        <div class="auth-input">
          <input type="text" placeholder="Электронная почта">
        </div>
        <div class="auth-input">
          <input type="password" placeholder="Пароль">
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember">
          <label for="remember">
            Я принимаю <a href="#">условия пользовательского соглашения</a>
            и даю <a href="#">согласие на обработку персональных данных</a>.
          </label>
        </div>
      </div>
      <div class="auth-buttons">
        <button class="button button-big">Зарегистрироваться</button>
      </div>
      <div class="auth-link">
        Уже есть аккаунт? <a routerLink="/login">Войдите</a>
      </div>
    </div>

    <div class="page-image">
      <img src="/assets/images/page/signup-image.png" alt="Signup page image">
    </div>

  </div>
</div>
