<div class="signup" [formGroup]="signupForm">
  <div class="container">

    <div class="auth-form">
      <div class="auth-form-title">Регистрация на сайте</div>

      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text"
                 [ngStyle]="{'border-color': signupForm.get('name')?.invalid
                 && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched) ? 'red': ''}"
                 placeholder="Ваше имя" formControlName="name">
          <div class="auth-input-error"
               *ngIf="signupForm.get('name')?.invalid
               && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)">
            <span *ngIf="signupForm.get('name')?.errors?.['pattern']">
              Допустимы русские буквы, слова разделены пробелом.
              <br>
              Каждое слово с Заглавной буквы.
            </span>
            <span *ngIf="signupForm.get('name')?.errors?.['required']">Заполните поле</span>
          </div>
        </div>
        <div class="auth-input">
          <input type="text"
                 [ngStyle]="{'border-color': signupForm.get('email')?.invalid
                 && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red': ''}"
                 placeholder="Электронная почта" formControlName="email">
          <div class="auth-input-error"
               *ngIf="signupForm.get('email')?.invalid
               && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
            Введите корректный адрес электронной почты
          </div>
        </div>
        <div class="auth-input">
          <password-input (password_value)="setPass($event)" [singUp]="true"></password-input>
        </div>
        <div class="auth-checkbox">
          <input type="checkbox"
                 [ngStyle]="{filter: signupForm.get('agree')?.invalid
                 && (signupForm.get('agree')?.dirty || signupForm.get('agree')?.touched) ?
                 'invert(85%) sepia(83%) saturate(6726%) hue-rotate(360deg) brightness(111%) contrast(111%)' : 'none'}"
                 id="remember" formControlName="agree">
          <label>
            Я принимаю <a (click)="openDialog()">условия пользовательского соглашения</a>
            и даю <a (click)="openDialog('agree')">согласие на обработку персональных данных</a>.
          </label>
        </div>
        <div class="auth-checkbox-error"
             *ngIf="signupForm.get('agree')?.invalid
               && (signupForm.get('agree')?.dirty || signupForm.get('agree')?.touched)">
          Необходимо принять условия.
        </div>
      </div>
      <div class="auth-buttons">
        <button class="button button-big" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
      </div>
      <div class="auth-link">
        Уже есть аккаунт? <a routerLink="/login">Войдите</a>
      </div>
    </div>

    <div class="page-image">
      <img src="assets/images/page/signup-image.png" alt="Signup page image">
    </div>

  </div>
</div>
