html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  background-color: $blue-text-color;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
    opacity: 1;
  }

  &.button-small {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 12px;
  }

  &.button-big {
    padding: 15px 33px;
    font-weight: 400;
    font-size: 16px;
  }
}

.mat-menu-item {
  font-family: Montserrat, sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $gray-text-color;
  }
}
