//1150 - 1399
@media screen and (max-width: 1399px) {

  .header {
    .container {

      .header-menu {
        display: grid;
        grid-template-areas: "left-side right-side";
        grid-template-columns: 1fr 1fr;
        justify-content: center;

        .left-side {
          grid-area: left-side;

          nav {
            margin-right: unset;
            min-width: 427px;
          }
        }

        .right-side {
          grid-area: right-side;
          justify-self: end;
        }
      }
    }
  }
}

//1050 - 1149
@media screen and (max-width: 1149px) {

  .header {

    .container {

      .header-menu {
        nav {
          margin-right: 0;
        }

        .header-menu-actions {
          min-width: unset;
        }
      }
    }
  }
}


//1010 - 1049
@media screen and (max-width: 1049px) {

  .header {

    .container {
      display: block;

      .header-menu {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 24px;
        grid-template-areas: "left-side" "right-side";;
        justify-content: space-between;

        .left-side {
          justify-content: space-around;
        }

        .right-side {
          justify-content: space-around;
          justify-self: unset;
        }
      }
    }
  }
}

//950 - 1009
@media screen and (max-width: 1009px) {

  .header {

    .container {
      gap: 40px;

      .logo {
        margin-right: 0;
      }
    }
  }
}

//480 - 767
@media screen and (max-width: 767px) {
  .header {
    .container {
      .header-menu {
        .left-side {
          nav {
            display: none;
          }

          burger-menu {
            display: block;
          }
        }
      }
    }
  }
}


//425 - 479
@media screen and (max-width: 479px) {

  .header {

    .container {
      padding-right: 10px;
      padding-left: 10px;

      .header-menu {

        .header-menu-phone {
          margin-right: 0;
        }
      }
    }
  }
}

//0 - 424
@media screen and (max-width: 424px) {
  .header {
    padding: 20px 0;

    .container {
      .header-menu {
        grid-template-rows: 1fr 1fr;

        .left-side {
          justify-content: space-between;
        }

        .right-side {
          flex-direction: column;
          gap: 10px;
          justify-self: end;
          justify-content: flex-end;
          text-align: center;

        }
        .header-menu-phone {
          display: none;
          &.mobile {
            display: flex;
          }
        }
      }
    }
  }
}
